# Initialization of the dataset

### Run only once: install read_xls

In [ ]:
# To run only once
# ! pip install xlrd>=2.0.1

### Importing the dataset

In [ ]:
import pandas as pd
import numpy as np

file_path = '/work/GSAF5.xls'  

# Read the file into a DataFrame
df = pd.read_excel(file_path)

# Display the DataFrame
display(df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

### Useful tool: Breakline

In [ ]:
#breakline 
def breakline():
  return print('\n')
# Loading the datasets

# Exploratory Phase

## Exploration of the dataset

In [ ]:
# [EXPLORATORY PHASE]

#View of nb(rows & columns)
print("Shape of the df: ")
print(df.shape)
breakline()

# NB of unique values for each column:
print('nb unique values per column: ')
print(df.nunique())
breakline()


# List of the columns
print('dataframe columns list: ')
print(df.columns)
breakline()


#Looking at the 'NaN' 
print('total Nan per column')
print(df.isna().sum())
breakline()


# Use of the value_counts() function
print("Analysis of the value counts: ")
print(df['Year'].value_counts())
breakline()
print(df['Type'].value_counts())
breakline()
print(df['Country'].value_counts().sort_values())

Shape of the df:
(6965, 23)


nb unique values per column:
Date              5999
Year               259
Type                12
Country            225
State              902
Location          4510
Activity          1587
Name              5681
Sex                  8
Age                243
Injury            4078
Unnamed: 11         12
Time               410
Species           1674
Source            5298
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64


dataframe columns list:
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')


total Nan per column
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           610
Name               244
Sex                604
Age               3018
Injury              60
Unnamed: 11        586
Time              3550
Species           3157
Source              44
pdf                166
href formula       146
href               169
Case Number        167
Case Number.1      168
original order     166
Unnamed: 21       6964
Unnamed: 22       6963
dtype: int64


Analysis of the value counts:
Year
2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1784.0      1
1783.0      1
1780.0      1
1779.0      1
1819.0      1
Name: count, Length: 259, dtype: int64


Type
Unprovoked             5103
Provoked                635
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64


Country
CEYLON (SRI LANKA)             1
ROATAN                         1
Between PORTUGAL & INDIA       1
GEORGIA                        1
GREENLAND                      1
                            ...
PAPUA NEW GUINEA             136
NEW ZEALAND                  144
SOUTH AFRICA                 597
AUSTRALIA                   1479
USA                         2536
Name: count, Length: 225, dtype: int64

Let's now make a copy of df so in case of issues we can still go back to it

## Copying the dataframe

In [ ]:
#Let's now have a copy of the df under the name of 'shark' :

shark = df.copy()

# Cleaning of the dataset -General

## Cleaning of the empty / full Nan rows

In [ ]:
# Let's delete all the rows being full Nan
# First let's remind the dimension of the df:

print("dataset dimensions before cleaning: ")
print(df.shape)


#Now let's clean up !
shark = shark.dropna(how='all')

# and let's see what is the new number of rows:
print("dataset dimensions after cleaning: ")
print(shark.shape)

dataset dimensions before cleaning:
(6965, 23)
dataset dimensions after cleaning:
(6965, 23)

Conclusion: There's no Full 'NaN' row on the dataset

## Cleaning of the full Nan columns

In [ ]:
# Let's delete all the columns being full Nan
# First let's remind the dimension of the df:

print("dataset dimensions before cleaning: ")
print(df.shape)

#Now let's clean up !
shark = shark.dropna(axis = 1, how='all')

# and let's see what is the new number of rows:
print("dataset dimensions after cleaning: ")
print(shark.shape)

dataset dimensions before cleaning:
(6965, 23)
dataset dimensions after cleaning:
(6965, 23)

Conclusion: There's no full NaN column on this dataset

## [Vue utile de deep note pour faire le point]

In [ ]:
shark

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

## Deleting useless columns

In [ ]:
# Let's delete the last columns as we don't want them (completely useless):

#Declare the column names list
columns_to_drop = ['Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22']

#Drop that list
shark = shark.drop(columns = columns_to_drop)

#Have a view of the remaining columns
shark.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species '],
      dtype='object')

## Removing the duplicate rows

Let's remove the duplicate rows and see what happens

In [ ]:
# Dimension of the df before removing the duplicate rows:
print('before cleaning the duplicate rows: ')
print(df.shape)

# Let's clean the duplicate rows:
shark = df.drop_duplicates()

# Dimension of the df after removing the duplicate rows:
print('after cleaning the duplicate rows: ')
print(shark.shape)

before cleaning the duplicate rows:
(6965, 23)
after cleaning the duplicate rows:
(6941, 23)

Conclusion: we removed 24 duplicate rows

## Empty column / Unnamed: 11 : let's rename it to "Fatality"

In [ ]:
# Let's rename our 'Unnamed: 11 (empty on Excel) to "Fatality": 
shark = shark.rename(columns={'Unnamed: 11': 'fatality'})

#Let's verify
shark.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'Unnamed: 11 has been effictively renamed to 'Fatality'

## Reformat the name of our columns in Title format

In [ ]:
# Re formating the names our our columns to a Title format

shark_columns = shark.columns.str.strip().str.lower()
shark.columns = shark_columns

#Checking the result:
display(shark.head())

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Success ! Now all the columns have the same "lower" format

## Reorganize the order of the columns

This is a personal  helpful note, please don't take care

In [ ]:
# Assuming your DataFrame is named df
# desired_column_order = ['Column1', 'Column2', 'Column3', ...]  # Replace with your desired order

# Reorganize the columns
# df = df[desired_column_order]

# Display the updated DataFrame
# print(df.head())

View of the column names list

In [ ]:
# Let's first generate a list of the different columns of the current dataset:
display(shark.head(2))

print(shark. columns. values. tolist())

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['date', 'year', 'type', 'country', 'state', 'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatality', 'time', 'species', 'source', 'pdf', 'href formula', 'href', 'case number', 'case number.1', 'original order', 'unnamed: 21', 'unnamed: 22']

Now let's do some reorganization:

In [ ]:
#List of the columns desired order:
reordered_list = ['date', 'year', 'time', 'country','state', 'location', 'name', 'sex', 'type', 'activity','injury', 'fatality', 'species']

# Apply the reorganization:
shark = shark[reordered_list]

#Observation of the result:
display(shark.head())

,date,year,time,country,state,location,name,sex,type,activity,injury,fatality,species
0,14 Feb-2024,2024.0,NaN,INDIA,Maharashtra,"Vaitarna River, Palghar District",Vicky Suresh Govari,M,Unprovoked,Fishing,Calf of lower left leg injured,N,"Bull shark, 7'"
1,04-Feb-2024,2024.0,06h30,TRINIDAD,NaN,NaN,male,M,Provoked,Spearfishing,Shoulder bitten,N,Blacktip reef shark
2,29 Jan-2024,2024.0,20h00,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Lauren O'Neill,F,Unprovoked,Swimming,Right leg bitten,N,Bull shark
3,15 Jan-2024,2024.0,16h00,BAHAMAS,Paradise Island,Paradise Island Resort,male,M,Unprovoked,Swimming,Right leg injured,N,NaN
4,09-Jan-2024,2024.0,13h00,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Murray Adams,M,Unprovoked,Surfing,Leg bitten,N,White shark

## Droping the the remaining full 'NaN' rows

Now we have our cleaned dataset, let's one last time delete the potential full 'NaN' rows remaining

In [ ]:
#Observe the shape before this cleaning:
print("dataset shape before full 'NaN' rows droping: ")
print(shark.shape)
breakline()

#Now let's clean up !
shark = shark.dropna(how='all')

#Observe the shape after this cleaning:
print("dataset shape after full 'NaN' rows droping: ")
print(shark.shape)

dataset shape before full 'NaN' rows droping:
(6941, 13)


dataset shape after full 'NaN' rows droping:
(6940, 13)

As we could expect this second ' full 'NaN' rows cleaning' did'nt change anything ;)

## [Safety Net] --> Intermediary save of the df !

Now we've done the general cleaning of our dataset, and before moving to our next step 'cleaning each columns', let's first create a saving of our dataset, so we can go_back to it in case of troubles

In [ ]:
df2 = shark.copy()
df2.head()

,date,year,time,country,state,location,name,sex,type,activity,injury,fatality,species
0,14 Feb-2024,2024.0,NaN,INDIA,Maharashtra,"Vaitarna River, Palghar District",Vicky Suresh Govari,M,Unprovoked,Fishing,Calf of lower left leg injured,N,"Bull shark, 7'"
1,04-Feb-2024,2024.0,06h30,TRINIDAD,NaN,NaN,male,M,Provoked,Spearfishing,Shoulder bitten,N,Blacktip reef shark
2,29 Jan-2024,2024.0,20h00,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Lauren O'Neill,F,Unprovoked,Swimming,Right leg bitten,N,Bull shark
3,15 Jan-2024,2024.0,16h00,BAHAMAS,Paradise Island,Paradise Island Resort,male,M,Unprovoked,Swimming,Right leg injured,N,NaN
4,09-Jan-2024,2024.0,13h00,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Murray Adams,M,Unprovoked,Surfing,Leg bitten,N,White shark

Now, in case of trouble we can start from df2 :-) !

# Cleaning of the dataset - Focus on the columns

## General overview - before starting

In [ ]:
# Let's have a global overview of our current dataframe so we know exactly what we want to do for our columns:

display(shark)

,date,year,time,country,state,location,name,sex,type,activity,injury,fatality,species
0,14 Feb-2024,2024.0,NaN,INDIA,Maharashtra,"Vaitarna River, Palghar District",Vicky Suresh Govari,M,Unprovoked,Fishing,Calf of lower left leg injured,N,"Bull shark, 7'"
1,04-Feb-2024,2024.0,06h30,TRINIDAD,NaN,NaN,male,M,Provoked,Spearfishing,Shoulder bitten,N,Blacktip reef shark
2,29 Jan-2024,2024.0,20h00,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Lauren O'Neill,F,Unprovoked,Swimming,Right leg bitten,N,Bull shark
3,15 Jan-2024,2024.0,16h00,BAHAMAS,Paradise Island,Paradise Island Resort,male,M,Unprovoked,Swimming,Right leg injured,N,NaN
4,09-Jan-2024,2024.0,13h00,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Murray Adams,M,Unprovoked,Surfing,Leg bitten,N,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6935,Before 1903,0.0,NaN,AUSTRALIA,Western Australia,Roebuck Bay,male,M,Unprovoked,Diving,FATAL,Y,NaN
6936,Before 1903,0.0,NaN,AUSTRALIA,Western Australia,NaN,Ahmun,M,Unprovoked,Pearl diving,FATAL,Y,NaN
6937,1900-1905,0.0,NaN,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,M,Unprovoked,Swimming,FATAL,Y,NaN
6938,1883-1889,0.0,NaN,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",Jules Patterson,M,Unprovoked,NaN,FATAL,Y,NaN
6939,1845-1853,0.0,NaN,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,M,Unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

Idéee général : pour une ou certaines colonnes sur lesquelles nous voulons orienter notre étude, on veut dégager les lignes du DF sur lesquelles leurss valeurs sont Nan (None /Null/ empty) '''

## Cleaning of "Activity"

Goals:

- Keeping only the the rows for which the activity values are --> surfing, fishing, swimming, diving or snorkeling

- Create a specific new column " Main activity"  (categorizing) that associate the values to one of the above activity value

- For the other values not checking surf, fish, swim etc.. --> return them to 'not defined'

In [ ]:
def activity_type (string):
    
    activities = ['surf','fishing', 'swimming', 'diving', 'snorkeling']
    
    if isinstance(string, str):
        for activity in activities:
            if activity in string.lower():
                return activity
            else:
                pass
        return "not_defined"
    
    return None

shark['main_activity'] = shark['activity'].apply(activity_type)

### Personal test  to correct - don't pay attention

In [ ]:
# # Assuming your DataFrame is named shark_test
# # First step: Normalize the 'Activity' column

# shark_test = shark.copy()

# # check values inside
# print(shark_test['activity'].value_counts)


# #first step: normalize the values
# shark_test['activity'] = shark_test['activity'].str.strip().str.lower()

# # Second step: Create the 'activity_segment' column
# def categorize_activity(activity):
#     if activity.str.contains('fish'):
#         return 'fishing'
#     elif activity.str.contains('dive'):
#         return 'diving'
#     elif activity.str.contains('swim'):
#         return 'swimming'
#     elif activity.str.contains('snork'):
#         return 'snorkeling'
#     else:
#         return 'other'

# shark_test['activity_segment'] = shark_test['activity'].apply(categorize_activity)


# # check after what happens:
# print(shark_test['activity_segment'].value_counts)

# # Display the updated DataFrame
# print(shark_test[['activity', 'activity_segment']].head())

## Cleaning of 'Year'

Goal: keeping only columns from the 1950's to nowadays

In [ ]:
# Let's first have a view of our df + a quick view of the 'Year' type

#Df view
display(shark.head())
breakline()

# Year type:
shark['year'].dtypes

,date,year,time,country,state,location,name,sex,type,activity,injury,fatality,species,main_activity,year_fixed,shark_group,new_country,decade
0,14 Feb-2024,2024.0,NaN,INDIA,Maharashtra,"Vaitarna River, Palghar District",Vicky Suresh Govari,M,unprovoked,Fishing,Calf of lower left leg injured,n,"Bull shark, 7'",fishing,2024.0,bull,Not used,2020
1,04-Feb-2024,2024.0,06h30,TRINIDAD,NaN,NaN,male,M,provoked,Spearfishing,Shoulder bitten,n,Blacktip reef shark,fishing,2024.0,black,Not used,2020
2,29 Jan-2024,2024.0,20h00,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Lauren O'Neill,F,unprovoked,Swimming,Right leg bitten,n,Bull shark,swimming,2024.0,bull,AUSTRALIA,2020
3,15 Jan-2024,2024.0,16h00,BAHAMAS,Paradise Island,Paradise Island Resort,male,M,unprovoked,Swimming,Right leg injured,n,NaN,swimming,2024.0,None,BAHAMAS,2020
4,09-Jan-2024,2024.0,13h00,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Murray Adams,M,unprovoked,Surfing,Leg bitten,n,White shark,surf,2024.0,white,AUSTRALIA,2020

dtype('O')

In [ ]:
# Assuming 'shark' DataFrame is already defined

# Convert 'year' column to string
shark['year'] = shark['year'].astype(str)

# Convert 'year' column to integers, coerce invalid values to NaN
shark['year_fixed'] = pd.to_numeric(shark['year'], errors='coerce')

def clean_date(year):
    if pd.isna(year):
        return None
    elif year > 1949:
        return year
    else:
        return None

# Apply clean_date function to 'year_fixed' column
shark['year_fixed'] = shark['year_fixed'].apply(clean_date)

shark.year_fixed.unique()

array([2024., 2023., 2022., 2021., 2020., 2019., 2018., 2017.,   nan,
       2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
       2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950.])

## Cleaning of "Fatality"

Expliquer ce qu'on veut faire

In [ ]:
# Before cleaning, let's observe the different values inside the fatality column before cleaning:
print("fatality values before the cleaning")
print(shark.fatality.value_counts())
breakline()


#[CLEANING PHASE] !
# 1. Create a function to "normalize" the values
# 1bis --> for values not being y, n or unknow, they go 'NaN'
def clean_fatality(string):
    if pd.isna(string):
        return None
    string = str(string).strip().lower()
    if string == 'y' or string == 'n' or string == 'unknown':
        pass
    else:
        string = None
    return string

# 2. We apply the function to 'fatality' column (Serie):
shark.fatality = shark.fatality.apply(clean_fatality)

# Dropping the lines with no value for 'activity':
shark = shark.dropna(subset=['activity'])

# Now, let's see the difference after the cleaning:
print("fatality values after the cleaning")
print(shark.fatality.value_counts())

fatality values before the cleaning
fatality
N          4829
Y          1460
UNKNOWN      71
 N            7
M             3
F             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64


fatality values after the cleaning
fatality
n          4527
y          1351
unknown      36
Name: count, dtype: int64

As we can observe, it worked ! We now only have either 'y', 'n', or 'unknown' as values

## Cleaning of "Type"

To clean the 'Type' column, we want to keep only the values being "provoked" or "unprovoked".

To reach such a goal, we'll first drop the 'NaN' values of the column / Serie (if the cell is empty) + "normalize" the format

In [ ]:
#Before starting the cleaning, let's check the different values inside the 'Type' column:
print("values of 'type' column before cleaning: ")
print(shark.type.value_counts())
breakline()

# CLEANING
# 1. Let's apply our clean through a function:
def clean_type(string):
    if pd.isna(string):
        return None
    string = string.strip().lower()
    if string == 'unprovoked' or string == 'provoked' or string == 'unknown':
        pass
    else:
        string = None
    return string

#2. Now, we want to apply the cleaning function to the Type column:
shark.type = shark.type.apply(clean_type)


# And now, let's check if the cleaning worked as we wanted
print("values of type column after cleaning: ")
print(shark.type.value_counts())

values of 'type' column before cleaning:
type
Unprovoked             4744
Provoked                597
Invalid                 430
Watercraft              311
Sea Disaster            230
Questionable             17
Boat                      6
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64


values of type column after cleaning:
type
unprovoked    4744
provoked       599
Name: count, dtype: int64

## Cleaning of 'Sex'

Ici on va ne conserver que les valeurs 'M' ou 'F'

In [ ]:
#Let's check how many 'NaN' we have into the 'Sex' column:
print("number of 'NaN'values before cleaning: ")
print(shark['sex'].isna().sum())
breakline()

#Let's observe the values before the cleaning:
print("values inside 'sex'column before cleaning: ")
print(shark['sex'].unique())
breakline()

# CLEANING:
# 1. replacing values to Unknown
shark.sex = shark.sex.str.strip().str.replace('M x 2','M').str.replace('lli','Unknown').str.replace('N','Unknown').str.replace('.','Unknown')
# 2. Let's now drop the lines containg NaN values:
shark.sex = shark['sex'].fillna("Unknown")
breakline()

#after cleaning:
print("values inside 'sex'column after cleaning: ")
print(shark['sex'].unique())
breakline()

#Let's now check how many 'NaN' we have into the 'Sex' column:
print("number of 'NaN'values after cleaning: ")
print(shark['sex'].isna().sum())
breakline()

number of 'NaN'values before cleaning:
425


values inside 'sex'column before cleaning:
['M' 'F' nan 'M ' 'lli' 'M x 2' 'N' '.']




values inside 'sex'column after cleaning:
['M' 'F' 'Unknown']


number of 'NaN'values after cleaning:
0

Since we didn't delete any rows but just replaces their values, it's totally normal to have the same number of 'NaN' before and after the cleaning ;)

## Cleaning of 'Species'

In [ ]:
#Exploration perso: ne pas runner

'''
# to visualize the number of each species

def species_draft(my_list):
    num_species = []
    for specie in my_list:
        n = shark['species'].str.lower().str.contains(specie).value_counts()
        print(f'there are {n[1]} occurences with {specie}')
        num_species.append(n[1])
    return num_species

test_list= ['white', 'whitetip', 'tiger', 'bull', 'black', 'nurse', 'blue',  'hammer', 'bronze', 'mako', 'spinner', 'lemon', 'grey', 'gray','brown','galapagos']
num_spec= species_draft(test_list)

sum(num_spec)
'''



# To create Shark Groups
def species_filter(string):
    
    species = ['whitetip','white', 'tiger', 'bull', 'black', 'nurse', 'blue',  'hammer', 'bronze', 'mako', 'spinner', 'lemon', 'grey', 'gray','brown','galapagos']
    
    if isinstance(string, str):
        for specie in species:
            if specie in string.lower():
                return specie
            else:
                pass
        return "other_or_not_def"
    
    return None
shark['shark_group'] = shark['species'].apply(species_filter)

## Cleaning of 'Country'

In [ ]:
#Vas-y Javier ;) 
# To clean countries
def country_filter(string):
    surf_countries = ['australia', 'usa', 'brazil','indonesia', 'portugal', 'south africa','france','new caledonia', 'costa rica', 'mexico', 'spain', 'fiji', 'new zealand', 'bahamas']
        
    if isinstance(string, str):
        for country in surf_countries:
            if country in string.lower():
                return country.upper()
            else:
                pass
        return "Not used"
    
    return None

shark['new_country'] = shark['country'].apply(country_filter)

In [ ]:
display(shark)

,date,year,time,country,state,location,name,sex,type,activity,injury,fatality,species,main_activity,year_fixed,shark_group,new_country
0,14 Feb-2024,2024.0,NaN,INDIA,Maharashtra,"Vaitarna River, Palghar District",Vicky Suresh Govari,M,unprovoked,Fishing,Calf of lower left leg injured,n,"Bull shark, 7'",fishing,2024.0,bull,Not used
1,04-Feb-2024,2024.0,06h30,TRINIDAD,NaN,NaN,male,M,provoked,Spearfishing,Shoulder bitten,n,Blacktip reef shark,fishing,2024.0,black,Not used
2,29 Jan-2024,2024.0,20h00,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Lauren O'Neill,F,unprovoked,Swimming,Right leg bitten,n,Bull shark,swimming,2024.0,bull,AUSTRALIA
3,15 Jan-2024,2024.0,16h00,BAHAMAS,Paradise Island,Paradise Island Resort,male,M,unprovoked,Swimming,Right leg injured,n,NaN,swimming,2024.0,None,BAHAMAS
4,09-Jan-2024,2024.0,13h00,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Murray Adams,M,unprovoked,Surfing,Leg bitten,n,White shark,surf,2024.0,white,AUSTRALIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6934,Before 1906,0.0,NaN,AUSTRALIA,New South Wales,,Arab boy,M,unprovoked,Swimming,FATAL,y,Said to involve a grey nurse shark that leapt ...,swimming,NaN,nurse,AUSTRALIA
6935,Before 1903,0.0,NaN,AUSTRALIA,Western Australia,Roebuck Bay,male,M,unprovoked,Diving,FATAL,y,NaN,diving,NaN,None,AUSTRALIA
6936,Before 1903,0.0,NaN,AUSTRALIA,Western Australia,NaN,Ahmun,M,unprovoked,Pearl diving,FATAL,y,NaN,diving,NaN,None,AUSTRALIA
6937,1900-1905,0.0,NaN,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,M,unprovoked,Swimming,FATAL,y,NaN,swimming,NaN,None,USA
6939,1845-1853,0.0,NaN,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,M,unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",y,NaN,swimming,NaN,None,Not used

# Visualizations:

## Attacks per specie per country

In [ ]:
main_country=["USA","AUSTRALIA","BRAZIL","SOUTH AFRICA","NEW ZEALAND","BAHAMAS","MEXICO"]
shark_top5=["white","tiger","bull", "other_or_not_def","blue"] 
mask_y_top5= (shark['fatality']=='y')& (shark['new_country'].isin(main_country) & (shark['shark_group'].isin(shark_top5)))

pivot_shark1 = shark[mask_y_top5].pivot_table(index='new_country', columns='shark_group', values=['fatality'], aggfunc='count',margins=True)
pivot_shark1

             fatality
shark_group      blue  bull other_or_not_def tiger  white  All
new_country
AUSTRALIA         4.0  13.0             34.0  14.0   59.0  124
BAHAMAS           NaN   2.0              4.0   NaN    NaN    6
BRAZIL            NaN   NaN              NaN   2.0    1.0    3
MEXICO            NaN   NaN              7.0   3.0    2.0   12
NEW ZEALAND       NaN   NaN              2.0   NaN    5.0    7
SOUTH AFRICA      NaN   1.0             10.0   6.0   35.0   52
USA               NaN   5.0             21.0  16.0   23.0   65
All               4.0  21.0             78.0  41.0  125.0  269

## Number of death per activity

In [ ]:
#Nombre d'attaques par activité et mortalité  (groupby) 

shark.groupby(['fatality','main_activity'])['injury'].count().unstack()

main_activity  diving  fishing  not_defined  snorkeling    surf  swimming
fatality
n               363.0   1000.0       1104.0       110.0  1285.0     662.0
unknown           4.0      5.0          7.0         NaN     3.0       7.0
y               119.0    172.0        527.0        19.0    90.0     423.0

###

## Number of attacks per species per year

In [ ]:
main_country=["USA","AUSTRALIA","BRAZIL","SOUTH AFRICA","NEW ZEALAND","BAHAMAS","MEXICO"]
shark_top5=["white","tiger","bull", "other_or_not_def","blue"] 
shark['decade'] = shark['year_fixed'].astype(float).fillna(np.nan).astype('Int64') // 10 * 10


pivot_shark2 = shark.pivot_table(index='decade', columns='shark_group', values=['injury'], aggfunc='count',margins=True)
pivot_shark2

            injury                                                        \
shark_group  black  blue bronze brown   bull galapagos gray  grey hammer
decade
1950           2.0   7.0    1.0   3.0    4.0       NaN  NaN   NaN    8.0
1960           8.0   3.0   14.0   1.0    4.0       1.0  1.0   2.0    9.0
1970           4.0   4.0    5.0   NaN    4.0       NaN  NaN   3.0    NaN
1980           7.0   5.0    5.0   NaN    5.0       NaN  1.0   1.0    9.0
1990          16.0   NaN    6.0   NaN   14.0       NaN  NaN   5.0    4.0
2000          37.0   4.0   25.0   2.0   56.0       NaN  2.0   7.0    5.0
2010          37.0  10.0    9.0   NaN   73.0       5.0  1.0   7.0    5.0
2020          21.0   3.0    7.0   NaN   31.0       2.0  NaN   1.0    NaN
All          132.0  36.0   72.0   6.0  191.0       8.0  5.0  26.0   40.0

                                                                               \
shark_group lemon  mako nurse other_or_not_def spinner  tiger  white whitetip
decade
1950          2.0   5.0  10.0            136.0     NaN   17.0   45.0      2.0
1960          4.0   6.0  24.0            222.0     NaN   14.0   62.0      2.0
1970          NaN   3.0   2.0             77.0     NaN    4.0   63.0      1.0
1980          3.0   3.0   3.0            138.0     2.0   23.0   73.0      NaN
1990          5.0   4.0   6.0            155.0     7.0   42.0   99.0      3.0
2000          4.0  13.0  13.0            330.0     4.0   64.0  106.0      9.0
2010         17.0   9.0  25.0            299.0    10.0   83.0  141.0     14.0
2020          6.0   2.0   5.0             65.0     1.0   25.0   41.0      6.0
All          41.0  45.0  88.0           1422.0    24.0  272.0  630.0     37.0


shark_group   All
decade
1950          242
1960          377
1970          170
1980          278
1990          366
2000          681
2010          745
2020          216
All          3075

In [ ]:
DeepnoteChart(pivot_shark2, """{"mark":{"type":"bar","tooltip":true},"width":"container","config":{"customFormatTypes":true},"height":"container","$schema":"https://vega.github.io/schema/vega-lite/v5.json","encoding":{"x":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear"},"format":{"type":"default","decimals":null}},"y":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear"},"format":{"type":"default","decimals":null}},"color":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear"},"format":{"type":"default","decimals":null}}}}""")

Mon chapeau a 4 bosses, 4 bosses mon chapeau, et s'il n'avit pas 4 bosses, ce ne serait pas mon chapeau

## Number of deaths per gender per country

In [ ]:
# checking on gender

display(shark.groupby(['fatality','sex'])['injury'].count().unstack())

display(shark.groupby(['new_country','sex'])['injury'].count().unstack())

sex         F     M  Unknown
fatality
n         549  3690      285
unknown     2    18        6
y         109  1152       89

sex                F       M  Unknown
new_country
AUSTRALIA       98.0  1146.0    102.0
BAHAMAS         25.0   101.0      2.0
BRAZIL           6.0    93.0     12.0
COSTA RICA       3.0    14.0      1.0
FIJI             8.0    46.0      5.0
FRANCE           NaN     6.0      3.0
INDONESIA        2.0    18.0      2.0
MEXICO          12.0    80.0      8.0
NEW CALEDONIA    4.0    44.0     10.0
NEW ZEALAND     19.0   105.0     12.0
Not used       119.0  1090.0    123.0
PORTUGAL         NaN     4.0      1.0
SOUTH AFRICA    22.0   486.0     45.0
SPAIN            9.0    28.0      4.0
USA            382.0  1909.0     85.0

## Number of attacks per species per country

In [ ]:
pivot_shark1 = shark.pivot_table(index='shark_group', columns='new_country', values=['fatality'], aggfunc='count')
pivot_shark1

                  fatality                                                  \
new_country      AUSTRALIA BAHAMAS BRAZIL COSTA RICA FIJI FRANCE INDONESIA
shark_group
black                  4.0     4.0    NaN        NaN  NaN    NaN       NaN
blue                  13.0     NaN    NaN        NaN  NaN    NaN       NaN
bronze                60.0     NaN    NaN        NaN  NaN    NaN       NaN
brown                  1.0     NaN    NaN        NaN  NaN    NaN       NaN
bull                  41.0    16.0    4.0        2.0  NaN    NaN       3.0
galapagos              NaN     NaN    NaN        NaN  NaN    NaN       NaN
gray                   0.0     NaN    NaN        NaN  NaN    NaN       NaN
grey                   3.0     NaN    NaN        NaN  1.0    NaN       NaN
hammer                 7.0     NaN    1.0        NaN  1.0    NaN       NaN
lemon                  4.0     9.0    3.0        NaN  NaN    NaN       NaN
mako                   7.0     1.0    NaN        NaN  NaN    1.0       NaN
nurse                 44.0     8.0    NaN        NaN  1.0    NaN       NaN
other_or_not_def     326.0    36.0   10.0        0.0  5.0    3.0       1.0
spinner                NaN     NaN    NaN        NaN  NaN    NaN       NaN
tiger                 58.0     6.0   10.0        3.0  9.0    NaN       1.0
white                175.0     NaN    4.0        NaN  1.0    2.0       NaN
whitetip               3.0     1.0    NaN        NaN  NaN    NaN       NaN

                                                                     \
new_country      MEXICO NEW CALEDONIA NEW ZEALAND Not used PORTUGAL
shark_group
black               NaN           NaN         NaN     22.0      NaN
blue                NaN           NaN         1.0     13.0      1.0
bronze              NaN           NaN         9.0      2.0      NaN
brown               NaN           NaN         NaN      4.0      NaN
bull                2.0           7.0         NaN     38.0      NaN
galapagos           NaN           NaN         NaN      4.0      NaN
gray                NaN           NaN         1.0      2.0      NaN
grey                NaN           NaN         1.0     16.0      NaN
hammer              2.0           NaN         NaN      3.0      NaN
lemon               NaN           1.0         NaN      6.0      NaN
mako                NaN           NaN         8.0     12.0      NaN
nurse               NaN           NaN         1.0      7.0      NaN
other_or_not_def   13.0           6.0        34.0    203.0      NaN
spinner             NaN           NaN         NaN      1.0      NaN
tiger               8.0          12.0         1.0     51.0      NaN
white               3.0           1.0        22.0     76.0      1.0
whitetip            NaN           NaN         NaN     28.0      NaN


new_country      SOUTH AFRICA SPAIN    USA
shark_group
black                    11.0   NaN   95.0
blue                      3.0   5.0   14.0
bronze                    NaN   NaN    NaN
brown                     NaN   NaN    1.0
bull                      3.0   NaN   84.0
galapagos                 NaN   NaN    5.0
gray                      1.0   NaN    NaN
grey                      1.0   NaN    5.0
hammer                    3.0   NaN   29.0
lemon                     NaN   NaN   19.0
mako                      5.0   NaN   18.0
nurse                     NaN   NaN   41.0
other_or_not_def        153.0  12.0  554.0
spinner                   NaN   NaN   23.0
tiger                    11.0   NaN  143.0
white                   165.0   2.0  219.0
whitetip                  1.0   NaN    5.0

## Number of shark attacks per decade per country

In [ ]:
import numpy as np

# Convert the 'year_fixed' column to integers and create a new column for decades
main_country=["USA","AUSTRALIA","BRAZIL","SOUTH AFRICA","NEW ZEALAND","BAHAMAS","MEXICO"]
# Create a condition to filter attacks with a victim ('fatality' == 'y')
condition1 = (shark['fatality'] == 'y') & (shark['new_country'].isin(main_country))

# Create the pivot table with the number of attacks per decade and country
pivot_shark1 = shark[condition1].pivot_table(index='decade', columns='new_country', values='fatality', aggfunc='count', margins=True)

pivot_shark1.rename(columns={'All': 'Total'}, inplace=True)

pivot_shark1

new_country,AUSTRALIA,BAHAMAS,BRAZIL,MEXICO,NEW ZEALAND,SOUTH AFRICA,USA,Total
decade,,,,,,,,
1950,16.0,NaN,NaN,5.0,NaN,12.0,17.0,50
1960,11.0,2.0,NaN,6.0,4.0,7.0,9.0,39
1970,8.0,NaN,1.0,7.0,1.0,5.0,9.0,31
1980,10.0,1.0,1.0,1.0,NaN,4.0,12.0,29
1990,11.0,NaN,11.0,2.0,NaN,9.0,12.0,45
2000,14.0,1.0,10.0,2.0,3.0,10.0,14.0,54
2010,20.0,1.0,3.0,3.0,1.0,11.0,8.0,47
2020,18.0,4.0,1.0,5.0,1.0,3.0,8.0,40
All,108.0,9.0,27.0,31.0,10.0,61.0,89.0,335

In [ ]:
shark.shape

(6355, 18)

# Elsass Frei ! Long Live Alsace

# Notes d'équipes

Javier : Research | Killé : Dev | Michael : Dev | Linda : Research

Focus on :

- Are sharks injuring or killing more ?

- Are most attacks caused by human provocation ?

Cleaning :

- Renommer colonne L en " Incident mortel ? " ou similaire

- Année --> Format YYYY

- Age --> En années (nb entier)

- Sexe --> M & F & N

- Height --> En mètres

- Countries --> Europe, Asie, Afrique, Océan Indien, Amérique du Nord, Amérique du Sud

Idées :

- Saisonnalité ?

- Broader scope

- Time

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5314df68-7bd7-46df-b536-5b2c489f4f4a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>